%html
  %head
    %title hej hej
    %link{ :rel => "stylesheet", :href => "/screen.css" }
    %link{ :rel => "stylesheet", :href => "/main.css" }
  %body
    .container
      %h1 Got.rb
      = yield
