<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>Gotrb.org</title>
    
  </head>
  
  <body id="gotrb">
    <h1>Got.rb!</h1>
    
    <h3>Next meeting:</h3>
    
    <p><strong>Location:</strong> <%= @meeting.location %></p>
  </body>
</html>